* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
    color: #3a3a3a;
    margin-top: 0;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.name a,
.main-nav a {
    padding: 10px 15px;
    display:block;
    /* when they are in the block it is easy to apply any property to it */
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #3acec2;
	margin-bottom: 30px;
}

.main-footer {
	text-align: center;
	padding: 2px 0;
	background: #d9e4ea;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}

	.name,
	.main-nav,
	.main-nav li {
        display: inline-block;
        /* with inline block it will move to the next line */
	}

	.name {
		width: 240px;
		margin-right: 50px;
    }
    .main-nav li {
        /* to remove the small gaps around the nav links */
        margin-right: 12px;

	}
	.col{
		display: inline-block;
		width: 50%;
		/* background: rgb(217, 228, 234, .5); */
		margin-right: -3px;
		vertical-align: top;
		padding-right: 1em;
		padding-left: 1em;
		
	}

	.feat-img {
		
		height:150px ;
		float: left;
		margin-top: 5px;
		margin-right: 25px;
		margin-bottom: 25px;
		/* for image border effect */
		padding: 8px;
		border:solid 1px #d9e4ea;

	}

}




